{% extends "layout.html" %}
{% block content %}

<div class="block block-bordered-lg block-overflow-hidden pb-0 app-block-design">
    <div class="container">
        <h1>About Reading Bitcoin</h1>

        <p>
            Our mission is to further the world’s understanding of Bitcoin through high-quality, accessible, localized content.
        </p>

        <p>
        Bitcoin is a world-changing technology that is worth paying attention to, but isn’t easy to grasp. Many other “blockchain” projects go beyond the realm of technical feasibility with reckless claims and promises that are hard for the broader public to evaluate. In non-English speaking countries, this problem is compounded by a lack of good localized educational content.
        </p>

        <p>
        Our solution is to provide quality-controlled translations in order to raise the technical understanding of Bitcoin and negate the potency of disinformation. We are starting with Japanese, Korean, and Chinese -- languages of countries where cryptocurrency is popular, yet high-quality localized information is sorely lacking.
        </p>

        <p>
        We aim to be accessible to beginners, since people with varying levels of knowledge will be accessing the site. However, Bitcoin is inherently technical, so a large portion of the content will challenge our audience to gain a deeper understanding.
        </p>

        <p>
        We will select pre-existing high-quality content and, with the permission of the original author, republish it on our site in multiple languages. We may also feature some original content, which will primarily serve as a stepping stone for novices to understand the selected articles.
        </p>

        <p>
        All content will be free to access and redistribute under a Creative Commons license, so local news outlets will be able to use it as reference material. We expect this to become a regular occurrence, given the need for high quality content in certain countries.
        </p>

        <p>
        The brunt of the effort is expected to go into translation, review/proofreading, and project management. Given the highly technical nature of the content, we are putting extra emphasis on the review process, to ensure that the quality of the translation lives up to the source material.
        </p>

        <p>
        We accept individual donations and corporate sponsorship (your logo will be listed on the About page). We do not accept advertisements, sponsored articles, or anything else that could potentially compromise the quality of our content. There is no profit motive -- all donations will go towards meeting our goals.
        </p>

    </div>

</div>

{% endblock %}