{% extends "layout.html" %}
{% block content %}
<hr>
{% for article in articles_data|sort(attribute='id', reverse=True) %}
<br><br>
<blockquote class="pull-quote">
        <img class="rounded-circle" src="{{ url_for('static', filename=article['image_name']) }}">
    <p>
        <a href="{{ url_for('article', file_name=article['file_name'],
                                       month=article['month'],
                                       year=article['year']) }}">
        "{{article['preview']}}"
        </a>
    </p>
    <cite>
        <a href="{{ url_for('article', file_name=article['file_name'],
                                       month=article['month'],
                                       year=article['year']) }}">
            <strong>{{article['title']}}</strong></a> by {{article['author']}} on {{article['year']}}/{{article['month']}}/{{article['day']}}
    </cite>
</blockquote>
<hr>
{% endfor %}
{% endblock %}