{% extends "layout.html" %}

{% block content %}
<div class="block app-block-intro">
    <div class="container text-xs-center">
        <p class="lead mb-5 pb-5"><strong>Reading Bitcoin</strong> curates
            and translates the best content</p>
        <img class="img-fluid" src="{{ url_for('static', filename='logos.png') }}">
    </div>
</div>

<div class="block block-bordered-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="featured-list">
                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-graduation-cap"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Readings
                            selected by experienced Bitcoin engineers</strong>
                        </p>
                        <p class="featured-list-icon-text">
                            The article selection process rigorously evaluates
                            articles for their accuracy and conciseness.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="featured-list">
                    <li class="mb-5">
                        <div class="featured-list-icon text-primary">
                            <span class="icon icon-network"></span>
                        </div>
                        <p class="featured-list-icon-text mb-0"><strong>Precise technical
                            translations</strong></p>
                        <p class="featured-list-icon-text">
                            Articles are carefully translated into the major languages by volunteers and sponsored staff.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="block block-bordered-lg text-center">
    <div class="container-fluid">
        <p class="lead mb-4">
            <a class="nav-link" href="{{url_for('about')}}"><h1>About</h1></a>
        </p>
    </div>
</div>

{% endblock %}
